
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>EXPERIENCE
            
        King Memory	
        380 Morrison Rd, Columbus, OH 43213			                    April 1st to present 
        
        ●	Handled and processed orders for specific ram specifications
        
         
        Sabbatical/Per scholas  
        112 Jefferson Ave -Columbus, OH				                    February 2019 to March 10
        
        ●	Hiked the 2,192 Appalachian Trail 
        ●	Planning and execution of a five-month cross country trip 
        ●	Attend Per scholas and obtained a CompTIA A + and Network + Certification  
         
        CNC Set-up Operator
        Geotech Pattern & Mold Inc. – Loveland, OH			                    July 2018 to February 2019 
        
        ●	Set up material and programs with command line provided by the engineer. 
        ●	Edited the program to match the material and set up for a successful program path.
        ●	Troubleshooting networks and program errors 
          
        CNC Operator
        Ingenuity Industrial Machining – Mora, MN			               September 2017 to June 2018
        
        ●	Operated a 250,000-dollar mill running parts for car engines to water pumps
        ●	Troubleshooting mechanical failures and poor part finishes   
         
        Store Associate 
        Walmart – Pine City, MN				              	        September 2016 to February 2016
        
        ●	Managed unloading and organizing merchandise for moving to the sales floor.
        ●	Interacted with customers and help with any problems 
        
        
        U.S. Marine
        Anti-Tank Missile man 								May 2012 to July 2016
        
        ●	Deployed twice to Japan and South Korea. 
        ●	Training in how to handle high stress situation and remaining calm to complete the task
        ●	Took part in a significant amount of training on accomplishing tasks with a team 
         </p>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Work Experiences</h1>
    <div class="list">
      <div class="king">
        <H2>King Memory </H2>
        <p>April 1st to present</p>
      </div>
      <div class="hike">
        <H2>Sabbatical/Per scholas </H2>
        <p>February 2019 to March 10</p>
      </div>
      <div class="geo">
        <H2>Geotech Pattern & Mold Inc.</H2>
        <p>July 2018 to February 2019</p>
      </div>
      <div class="operator">
        <H2>Operator Ingenuity Industrial Machining </H2>
        <p>September 2017 to June 2018</p>
      </div>
    </div>
  </body>
</html>



