.backgroundImg {
  height: 100vh;
  background-image: url(../../assets/20190630_181140.jpg);
  background-size: cover;
  text-align: center;
}
.welcome {
  font-family: Georgia, serif;
  font-size: 80px;
  letter-spacing: -0.2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5), 10px 7px 5px rgba(0, 0, 0, 0.32);
  margin: 0;
  margin-bottom: 2vh;
}
.quote {
  font-family: Georgia, serif;
  font-size: 25px;
  letter-spacing: -0.2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5), 10px 7px 5px rgba(0, 0, 0, 0.32);
  padding: 0;
  margin: 0;
}
.credit {
  font-family: Georgia, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5), 10px 7px 5px rgba(0, 0, 0, 0.32);
  padding: 0;
  margin: 0;
}
.about {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}
