<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="backgroundImg">
      <br />
      <br />
      <br />
      <h1 class="welcome">Bruce Hawthorn</h1>

      <h2 class="quote">Of those immortal dead who live again</h2>
     
      <p class="credit">-George Eliot</p>
    <div class="about">
        <app-about-home></app-about-home>
      </div>
    </div>
  </body>
</html>
