<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="div">
        <p>Bruce Hawthorn
            Goldeneagle1833@gmail.com
            (740) 438-8506
            Baltimore, Ohio
            
            SUMMARY
            
            From becoming a United States Marine to hiking 2,192 miles on the application trail in 2019, there is very little that will prevent me from accomplishing the task at hand.
            
            KEY QUALIFICATIONS
            
            ●	Possessed Top Secret Clearance	●	Task Oriented
            ●	Trained in Leadership	●	Time Management
            ●	Hardware/Software Troubleshooting	●	Communication
            ●	Network+ (Active)	●	Team Oriented
            ●	       A+ (Active)	
            
            
            
            Education/Certifications
            
            ●	Associates in Applied Sciences Machining 	●	Marine Corp Instructor
            ●	Corporals Course in the Marine Corp	●	Attended Central Ohio Technical College
            ●	Attending Perscholas Software Engineering Course	●	
            </p>
            <div class="img">
                <img src="../../assets/IMG_0241.jpg" alt="Pic of me" width="250px" class="pic"/>
              </div>
            <h1>
                From becoming a United States Marine to hiking 2,192 miles on the
                application trail in 2019, there is very little that will prevent me
                from accomplishing the task at hand.
              </h1>
    </div>
</body>
</html>


