<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    <div class="display">
      
      <div class="text">
        <h1>
          I started out learning G-code for CNC machines. Knowing that I loved
          making useful tools, my interest lead me to programing I recently
          completed a Full stack web development bootcamp through Per Scholas.
          My portfolio can be found above and my resume below.
        </h1>
      </div>
      <div class="tech">
        <img
          src="../../../assets/computer-icons-logo-brand-javascript-javaserver-pages-free-892749.png"
          alt="JavaScript"
          width="125vw"
          height="100vh"
          class="JS"
        />
        <img
          src="../../../assets/1_mn6bOs7s6Qbao15PMNRyOA.png"
          alt="TypeScript"
          height="100vh"
          class="ts"
        />
        <img
          src="../../../assets/141px-Java_programming_language_logo.svg.png"
          alt="Java"
          height="100vh"
          class="java"
        />
        <img
          src="../../../assets/angular.png"
          alt="Angular"
          height="100vh"
          class="angular"
        />
        <img
          src="../../../assets/PgcSR.png"
          alt="HTML 5"
          height="100vh"
          class="Html"
        />
      </div>
      <!-- <h1>I consider myself a life long learner and teacher. I belive in making the world a better place through asking questions and gathering a true understanding</h1> -->
    </div>
  </body>
</html>
