.display {
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-color: #141414;
  border-radius: 15px;
  opacity: 0.65;
}
.tech {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  height: 15vh;

}
.text {
  color: #b1b4ba;
 
}
/* .JS{
  margin: 3vh;
}
.ts{
  margin: 3vh;
}
.java{
  margin: 3vh;
}
.angular{
  margin: 3vh;
}
.Html{
  margin: 3vh;
} */
